<div class="container">
  <div class="footer__inner">
    <div class="row">
      <div class="col-3 col-md-12 mb-md-24">
        <a href="./" class="d-flex">
          <img src="./assets/images/logo.svg" alt="" />
        </a>
        <p class="desc mt-25 mt-md-14">
          We have clothes that suits your style and which you’re proud to wear.
          From women to men.
        </p>
        <!-- Socials -->
        <div class="socials mt-36 mt-md-20 d-flex gapX-12">
          <a href="#!" class="socials__link">
            <img
              src="./assets/icons/twitter.svg"
              alt=""
              class="socials__icon"
            />
          </a>
          <a href="#!" class="socials__link">
            <img
              src="./assets/icons/facebook.svg"
              alt=""
              class="socials__icon"
            />
          </a>
          <a href="#!" class="socials__link">
            <img
              src="./assets/icons/instagram.svg"
              alt=""
              class="socials__icon"
            />
          </a>
          <a href="#!" class="socials__link">
            <img src="./assets/icons/github.svg" alt="" class="socials__icon" />
          </a>
        </div>
      </div>
      <div class="col-8 col-md-12 offset-1 offset-md-0">
        <!-- Row child -->
        <div class="row row-cols-4 row-cols-md-2 gy-md-3">
          <!-- Item 1 -->
          <div class="col">
            <h3 class="heading-4 uppercase">Company</h3>
            <ul class="footer__list mt-25 mt-md-16">
              <li class="footer__item">
                <a href="#!" class="footer__link desc">About</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Features</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Works</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Career</a>
              </li>
            </ul>
          </div>
          <!-- Item 2 -->
          <div class="col">
            <h3 class="heading-4 uppercase">Help</h3>
            <ul class="footer__list mt-25 mt-md-16">
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Customer Support</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Delivery Details</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Terms & Conditions</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Privacy Policy</a>
              </li>
            </ul>
          </div>
          <!-- Item 3 -->
          <div class="col">
            <h3 class="heading-4 uppercase">FAQ</h3>
            <ul class="footer__list mt-25 mt-md-16">
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Account</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Manage Deliveries</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Orders</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Payments</a>
              </li>
            </ul>
          </div>
          <!-- Item 4 -->
          <div class="col">
            <h3 class="heading-4 uppercase">Resources</h3>
            <ul class="footer__list mt-25 mt-md-16">
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Free eBooks</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Development Tutorial</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">How to - Blog</a>
              </li>
              <li class="footer__item">
                <a href="#!" class="footer__link desc">Youtube Playlist</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Separate -->
    <div class="separate mt-50"></div>

    <!-- Copyright -->
    <div class="footer__copyright mt-20">
      <div class="footer__row">
        <span class="desc"> Shop.co © 2000-2025, All Rights Reserved </span>
        <div class="footer__payment d-flex gapX-12 gapX-md-10 mt-md-16">
          <a href="#!">
            <img src="./assets/icons/visa.svg" alt="" />
          </a>
          <a href="#!">
            <img src="./assets/icons/mastercard.svg" alt="" />
          </a>
          <a href="#!">
            <img src="./assets/icons/paypal.svg" alt="" />
          </a>
          <a href="#!">
            <img src="./assets/icons/apple-pay.svg" alt="" />
          </a>
          <a href="#!">
            <img src="./assets/icons/google-pay.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
